.Cart{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}


.items-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.item-box{
    border: 1px solid #d62929;
    padding: 20px;
    width: 200px;
    box-shadow: 2px 2px 10px rgba(0 ,0 ,0 , 1);
    border-radius:8px ;
    background-color: rgb(233, 128, 209);
}

.item-box h3{
    margin-top: 0;
}
.item-box p{
    margin-top:10px 0;
}

.button{
    margin-top: 10px;
    
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: rgb(135, 14, 129);
    color: rgb(223, 106, 11);
    border-radius: 5px;
}

button:hover{
    background-color: #4616b7;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.cart-container{
    border:1px solid #df6a6a;
    padding: 20px;
    border-radius: 8px;
    background-color: azure;
    margin-top: 20px;
}

.cart-buttons{
   display: flex;
    gap: 10px;
}
.cart-buttons button {
   margin-left: 0;
 }


.cart-summary-box{
    margin-top: 200px;
    padding: 20px;
    background-color: rgb(161, 203, 35);
    border: 2px solid rgb(15, 15, 169);
    text-align: center;
}
.cart-summary p{
    margin: 10px 0;
    font-size: 18px;
}

.cart-summary span {
    font-weight: bold;
    color: rgb(14, 13, 13);
    font-size: 20px;
}